@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Pacifico&family=Poppins:wght@300&display=swap');

:root {
  --first: 'Pacifico', cursive;
  --second: 'Poppins', sans-serif;
  --third: 'Lobster Two', cursive;
  --lightmodeback: white;
  --lightmodecolor: #1d1d1d;
  --footergradiant: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--second);
}

body {
  position: relative;
}

/* Header section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  padding: 5px 20px;
}

.header .logo img {
  width: 40px;
  height: 40px;
}

.header .navbar {
  padding: 0;
  margin-right: 50px;
}

.header .navbar .navlist {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
  gap: 20px;
}

.header .navbar .navlist li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

.header .navbutton {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.header .navbutton .navbtn {
  width: 40px;
  height: 40px;
}

.header a:link {
  text-decoration: none;
}

@media(max-width:576px) {
  .header {
    position: relative;
  }

  .header .navbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
  }

  .header .navbutton .navbtn.close {
    display: none;
  }

  .header .navbar {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    z-index: 1;
    display: none;
  }

  .header .navlist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 50px !important;
  }

  .header.active .navbar {
    display: flex;
    justify-content: center;
    animation: animatenavbar 0.5s ease;
  }

  @keyframes animatenavbar {
    0% {
      transform: translateX(500px);
    }
  }

  .header.active .navbutton .navbtn.close {
    display: block;
    animation: closeanimation 0.5s ease;
  }

  @keyframes closeanimation {
    0% {
      transform: rotate(90deg);
    }
  }

  .header.active .navbutton .navbtn.open {
    display: none;
  }

  .header.active .navbutton {
    position: fixed;
    top: 0;
    right: 10px;
  }

  .content h1 {
    font-size: 10px;
  }
}

/* footer section */
.footercontent {
  background-color: #f3f3f3;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 5px;
}

.footer .heading {
  height: 50px;
}

.footer .footerdiv {
  width: 300px;

}

.footer .info {
  padding-left: 10px;
}

.footer .heading h5 {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

.footer p {
  font-size: 16px;
}

.footer .social .socialicons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.footer .social .socialicons .icon {
  font-size: 30px;
}

.footer .contact h5 {
  font-size: 18px;
  font-weight: bold;
}

.footer .inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  width: 250px;
}

.footer input {
  background-color: #f3f3f3;
  outline: none;
  border: none;
  width: 100%;
  font-size: 20px;
  margin-left: 10px;
}

.footer .inputs .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.copyright {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  background-color: #1d1d1d;
  color: #f3f3f3;
}

.copyright h1 {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
}

@media(max-width:576px) {
  .footer .footerdiv {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

/* Nopage section */
.nopage {
  margin-bottom: 50px;
}

.box {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box h1 {
  color: #1d1d1d;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.nopageicons {
  font-size: 50px;
}

.nopagebtn {
  margin: 0 auto;
  display: block;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: #1d1d1d;
  color: #f3f3f3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.nopagebtn:hover {
  transform: scale(1.1);
}

.nopagelink:hover {
  text-decoration: none;
  margin: 0;
}

@media(max-width:576px) {
  .nopage h1 {
    font-size: 25px;
  }
}

/* contact section */
.contacts {
  margin-top: 50px;
}

.contacts h5 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}

.contacts .forms {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
}

.forms div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px 0;
}

.contacts input {
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  padding: 2px 5px;
  width: 100%;
}

.contacts .icons {
  font-size: 20px;
  margin-right: 10px;
}

.contacts textarea {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100px;
  outline: none;
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
}

.contacts button {
  padding: 10px 20px;
  margin: 10px auto;
  background-color: #1d1d1d;
  color: #f3f3f3;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  display: block;
  transition: 0.5s ease;
}

.contacts button:hover {
  background-color: #f3f3f3;
  color: #1d1d1d;
}

@media(max-width:576px) {
  .contacts .forms {
    width: 300px;
  }
}

/* card section */
.productlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productlist a {
  color: black;
}

.productlist a:link {
  text-decoration: none;
  color: black;
}

.card {
  width: 250px;
  background-color: #f3f3f3 !important;
  margin: 20px 0;
  cursor: pointer;
}

.card .image {
  width: 200px;
  height: 220px;
  margin: 5px auto;
}

.card .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card .content .title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
}

.card .content .info {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .content .price {
  margin: 0;
  font-weight: bold;
}

.card .content .reviews h5 {
  margin: 0;
}

@media(max-width:576px) {
  .productlist {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* singlepage section */
.singleproduct {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}

.singleproduct div {
  width: 50%;
}

.singleproduct .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleproduct .image img {
  width: 300px;
  height: 400px;
}

.singleproduct .title {
  font-size: 25px;
  font-weight: bold;
}

.singleproduct span {
  font-weight: bold;
}

.singleproduct p {
  text-align: justify;
}

.singleproduct .reviews {
  width: 100%;
}

@media(max-width:768px) {
  .singleproduct {
    display: block;
  }

  .singleproduct div {
    width: 100%;
    margin-bottom: 20px;
  }

  .singleproduct .image img {
    width: 100%;
    height: 400px;
  }
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0;
}

.hero div {
  width: 50%;
}

.hero .image img {
  width: 100%;
  height: 400px;
}

.hero .content {
  padding: 10px;
}

.hero h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero h5 {
  font-size: 22px;
}

.hero button {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #1d1d1d;
  color: #f3f3f3;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease;
}

.hero button:hover {
  background-color: #f3f3f3;
  color: #1d1d1d;
}

@media(max-width:576px) {
  .hero {
    display: block;
  }

  .hero .content h1 {
    font-size: 30px;
  }

  .hero .image {
    width: 100%;
  }

  .hero .image img {
    width: 100%;
    height: 300px;
  }

  .hero .content {
    width: 100%;
  }
}

/* Product section */
.product {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.product .filterproduct {
  width: 30%;
}

.product .products {
  width: 70%;
}

.product .sortproduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product .sortproduct .view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.product .sortproduct .view button {
  width: 40px;
  height: 40px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.product .sortproduct .icon {
  width: 25px;
  height: 25px;
}

.product .sortproduct .sort {
  width: 150px !important;
}

.product .sortproduct h5 {
  font-size: 20px;
  font-weight: bold;
}

.product .sortproduct button.active {
  background-color: #1d1d1d;
  color: #f3f3f3;
}

.listview .listdata {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3 !important;
  border-radius: 10px;
  margin-bottom: 15px;
}

.listview .listdata .image {
  width: 250px !important;
  height: 220px !important;
  background-color: #f3f3f3 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
}

.listview .listdata .content {
  width: 100%;
}

.listview .listdata .image img {
  background-color: #f3f3f3 !important;
  width: 220px !important;
  height: 200px !important;
}

.listview .listdata .content {
  padding: 5px !important;
}

.listview .listdata .reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listview .listdata h5 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.listview .listdata p {
  color: black;
}

.listview {
  margin-top: 20px;
}

.listview a:link {
  color: black;
  text-decoration: none;
}

.filterproduct .searchdata {
  width: 200px;
}

.filterproduct .icon {
  font-size: 25px;
  padding: 0;
}

.filterproduct .category {
  margin: 30px 0;
}

.filterproduct .category h5,
.filterproduct .rating h5 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.filterproduct .category button {
  display: block !important;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin: 5px 0;
  cursor: pointer;
}

.filterproduct .category button.active {
  border-bottom: 2px solid black;
}